

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 100vh;
}

.login-card {
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.login-card h2 {
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: bold;
}

.login-card label {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
}

.login-card input {
  width: 376px;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #646464;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.role-buttons {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  gap: 10px;
}

.role-buttons button {
  flex: 1;
  padding: 10px;
  font-weight: bold;
  color: #ffffff;
  background-color: #2d5b63;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.role-buttons button:hover {
  background-color: #e0e0e0;
}

.login-btn {
  width: 100%;
  padding: 12px;
  color: #ffffff;
  background-color: #2d5b63;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-btn:hover {
  background-color: #e0e0e0;
}

.create-account {
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
}

.create-account a {
  font-weight: bold;
  text-decoration: none;
  color:#2d5b63;
}


.login-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}


.signup-link {
  color: #2563eb;
  text-decoration: none;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: underline;
}

