.login-wrapper {
  height: 100vh;               
  width: 100vw;                 
  display: flex;
  justify-content: center;   
  align-items: center;     
  background-color: rgba(0, 0, 0, 0.4); 
  padding: 2rem;
  box-sizing: border-box;
  overflow: hidden;
}

.login-card {
  background-color: var(--bg);
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative; /* to anchor the close button */
}

.login-card h2 {
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: bold;
  color: var(--primary);
}

.login-card label {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-primary);
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid var(--border);
  border-radius: 4px;
  background-color: var(--bg);
  color: var(--text-primary);
}

.role-buttons {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  gap: 10px;
}

.role-buttons button {
  flex: 1;
  padding: 10px;
  color: var(--text-secondary);
  background-color: var(--secondary);
  border: 1px solid var(--border);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.role-buttons button:hover {
  background-color: var(--hover);
}

.login-btn {
  width: 100%;
  padding: 12px;
  color: var(--text-secondary);
  background-color: var(--secondary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-btn:hover {
  background-color: var(--hover);
}

.create-account {
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
  color: var(--text-primary);
}

.create-account a {
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary);
}


.signup-link {
  color: var(--info);
  text-decoration: none;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: underline;
}


.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-primary);
  transition: color 0.2s;
}

.close-btn:hover {
  color: var(--hover);
}
